/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #202020;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #202020;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    INIT Browser Sizes
========================================================================== */

    @media screen (max-width: 767px){
        #mobile{}
    }

    @media screen (min-width: 768px){
        #tablet{}
    }

    @media screen (min-width: 992px){
        #laptops{}
    }

    @media screen (min-width: 1200px){
        #desktops{}
    }

/* ==========================================================================
    END Browser Sizes
========================================================================== */

/* ==========================================================================
   INIT LUCKY COLOR PALETTE
========================================================================== */
    .BLUE_NAVY{ color: #0c1f28; }
    .BLUE_NAVY_SHADOW{color: #00131d; }
    .RED{ color: #e8545e; }
    .RED_SHADOW{ color: #c83547; }
    .GRAY{ color: #ecf1f9; }
    .GRAY_SHADOW{ color: #d7dbe3; }
    .WHITE{ color: #edf1fa; }
/* ==========================================================================
   END LUCKY COLOR PALETTE
========================================================================== */


/* ==========================================================================
   NDRW's custom styles
   ========================================================================== */
html{
    font-family: 'Raleway', sans-serif, helvetica, tahoma, cursive;
}

body{
    background-color: #fff;
}

/*///// STYLES ON TIME /////*/
    .dayTimeFontColor{
        color: #0c171f;
    }
    .niteTimeFontColor{
        color: #eef0f8;
    }
/*///// END STYLES ON TIME /////*/

/*///// GOLDEN RATIO CLASSES /////*/
    .lgGoldenWidth{
        width: 61.8%;
    }

    .smGoldenWidth{
        width: 38.2%;
    }
/*///// END GOLDEN RATIO CLASSES /////*/



/*///// WRAPPERS STYLING /////*/

    #windowWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 600px;
        opacity: 1;

        -webkit-transition: all .8s ease-in-out;
           -moz-transition: all .8s ease-in-out;
            -ms-transition: all .8s ease-in-out;
             -o-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
    }

    #currentWindow{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1000;
    }

    .currentPage{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        -webkit-transition: all .8s ease-in-out;
           -moz-transition: all .8s ease-in-out;
            -ms-transition: all .8s ease-in-out;
             -o-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
    }

    .waitingPage{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 100% !important;
        -webkit-transition: all .8s ease-in-out;
           -moz-transition: all .8s ease-in-out;
            -ms-transition: all .8s ease-in-out;
             -o-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
    }

    .passedPage{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -100% !important;
        -webkit-transition: all .8s ease-in-out;
           -moz-transition: all .8s ease-in-out;
            -ms-transition: all .8s ease-in-out;
             -o-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
    }
/*///// END WRAPPERS STYLING /////*/

/*///// BACKGROUND ANIMATIONS /////*/
    #container{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: .2;
        filter: alpha(opacity=20);
    }

    #bgsWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
    }

    .layer {
        position: absolute;
        width: 200vw;
        height: 100vh;
    }

    .innerLayer{
        position: absolute;
        width: 200vw;
        height: 200vh;
    }

    .stars1{
        background-image: url(../img/bg/lucky-stars.svg);
        background-size: 50%;
        background-repeat: repeat;

        -webkit-transition: all 2.4s ease;
           -moz-transition: all 2.4s ease;
            -ms-transition: all 2.4s ease;
             -o-transition: all 2.4s ease;
                transition: all 2.4s ease;
        
    }

    .stars2{
        background-image: url(../img/bg/lucky-stars-1.svg);
        background-size: 50%;
        background-repeat: repeat;

        -webkit-transition: all 2.8s ease;
           -moz-transition: all 2.8s ease;
            -ms-transition: all 2.8s ease;
             -o-transition: all 2.8s ease;
                transition: all 2.8s ease;
    }
    .stars3{
        background-image: url(../img/bg/lucky-stars-2.svg);
        background-size: 33.33%;
        background-repeat: repeat;

        -webkit-transition: all 3.4s ease;
           -moz-transition: all 3.4s ease;
            -ms-transition: all 3.4s ease;
             -o-transition: all 3.4s ease;
                transition: all 3.4s ease;
    }
/*///// END BACKGROUND ANIMATIONS /////*/

/*///// CURTAINS STYLING /////*/
    #curtainDivision{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    #curtainWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000000;
        display: inline;
    }
        .curtains{
            position: absolute;
            height: 100%;
        }
        #curtainDivision .curtains{
            width: .9px;
            background-color: #f1f1f2;
        }
        #curtainWrapper .curtains{
            width: 11.111%;
            background-color: #0f1f27;
            opacity: .98;
            filter: alpha(opacity=98);

            -webkit-transform: translate3D(0px,0px,0px) scale(0,1);
               -moz-transform: translate3D(0px,0px,0px) scale(0,1);
                -ms-transform: translate3D(0px,0px,0px) scale(0,1);
                 -o-transform: translate3D(0px,0px,0px) scale(0,1);
                    transform: translate3D(0px,0px,0px) scale(0,1);

            -webkit-transform-origin: 0% 0% 0px;
               -moz-transform-origin: 0% 0% 0px;
                -ms-transform-origin: 0% 0% 0px;
                 -o-transform-origin: 0% 0% 0px;
                    transform-origin: 0% 0% 0px;

            -webkit-transition: all .7s cubic-bezier(.95,.01,.45,1);
               -moz-transition: all .7s cubic-bezier(.95,.01,.45,1);
                -ms-transition: all .7s cubic-bezier(.95,.01,.45,1);
                 -o-transition: all .7s cubic-bezier(.95,.01,.45,1);
                    transition: all .7s cubic-bezier(.95,.01,.45,1);
        }
        .openedCurtains{
            -webkit-transform: translate3D(0px,0px,0px) scale(1,1) !important;
               -moz-transform: translate3D(0px,0px,0px) scale(1,1) !important;
                -ms-transform: translate3D(0px,0px,0px) scale(1,1) !important;
                 -o-transform: translate3D(0px,0px,0px) scale(1,1) !important;
                    transform: translate3D(0px,0px,0px) scale(1,1) !important;
        }

        /*CURTAINS POSITION*/
            .curtain-1{
                left: 0%;
            }
            .curtain-2{
                left: 11.111%;
            }
            .curtain-3{
                left: 22.222%;
            }
            .curtain-4{
                left: 33.333%;
            }
            .curtain-5{
                left: 44.444%;
            }
            .curtain-6{
                left: 55.555%;
            }
            .curtain-7{
                left: 66.666%;
            }
            .curtain-8{
                left: 77.777%;
            }
            .curtain-9{
                left: 88.888%;
            }
        /*END CURTAINS POSITION*/
/*///// END CURTAINS STYLING /////*/




/*///// INSIDE CURRENT WINDOW /////*/
    /*///// WELCOME PAGE /////*/
        #welcomeLogo{
            position: absolute;
            width: 600px;
            height: 205px;
            margin: auto;
            top: 0; bottom: 0; left: 0; right: 0;
            overflow: hidden;
        }
            #welcomeLogo img{
                width: 100%;
                -webkit-transition: all .4s ease-in-out;
                   -moz-transition: all .4s ease-in-out;
                    -ms-transition: all .4s ease-in-out;
                     -o-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
            }

        #startWeb{
            position: absolute;
            width: 11.11%;
            height: 2vw;
            margin: auto;
            right: 0; left: 0;
            bottom: 70px;
            
            cursor: pointer;
            overflow: hidden;
        }
            #startWeb .innerStartWeb{
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 3px #0f1f27;
                -webkit-font-smoothing: antialiased;
                   -moz-font-smoothing: antialiased;
                    -ms-font-smoothing: antialiased;
                     -o-font-smoothing: antialiased;
                        font-smoothing: antialiased;

                font-weight: 500;
                color: #0f1f27;
                background-color: transparent;

                -webkit-transition: all .2s ease-in-out;
                   -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                     -o-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
            }
            #startWeb .innerStartWeb:hover{
                color: #fff;
                background-color: #0f1f27;
            }
                #startWeb p{
                    position: absolute;
                    width: 100%;
                    height: 1.3vw;
                    margin: auto;
                    top: 0; bottom: 0;
                    text-align: center;
                    font-size: 1.3vw;
                    line-height: 1em;
                }

        

        .pushWelcomeLogo{
            margin-top: 205px !important;
        }
        .pushStartWeb{
            margin-top: 2vw !important;
        }
    /*///// END WELCOME PAGE /////*/


    /*///// QUESTION MASTER /////*/
        #layoutMaster{}

            #layoutMaster .halfPage{
                position: relative;
                height: 100%;
                float: left;
            }
            /*#layoutMaster .secondHalves{
                background-color: #ecf1f9;
            }*/

                #layoutMaster .halfPage .qMask{
                    position: absolute;
                    width: 340px;
                    height: 75px;
                    margin: auto;
                    top: 0; bottom: 0;
                    right: 5%;
                    color: inherit;
                    overflow: hidden;
                }

                    #layoutMaster .halfPage .qMask h1{
                        position: relative;
                        margin: 0 0 .5em 0;
                        font-size: 1.5em;
                        font-weight: 300;
                        line-height: 1em;
                        text-align: right;
                        color: inherit;

                        -webkit-transition: all .4s ease-in-out;
                        -o-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                    }

                #layoutMaster .halfPage .innerHalf{
                    position: relative;
                    width: 100%;
                    height: 50%;
                    float: left;
                    cursor: pointer;

                    -webkit-transition: all .4s ease-in-out;
                    -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                }
                #layoutMaster .halfPage .innerHalf:hover{
                    text-decoration: underline;
                }

                    #layoutMaster .halfPage .innerHalf .qAnswer{
                        position: absolute;
                        width: 80%;
                        padding-left: 20%;
                        height: 50px;
                        line-height: 50px;
                        margin: auto;
                        text-align: left;
                        text-decoration: inherit;
                    }
                    #layoutMaster .halfPage .innerHalf:first-child .qAnswer{
                        bottom: 50px;
                    }
                    #layoutMaster .halfPage .innerHalf:last-child .qAnswer{
                        top: 50px;
                    }
                        #layoutMaster .halfPage .innerHalf .qAnswer h2{
                            margin: 0;
                            font-weight: 400;
                        }          
    /*///// END QUESTION MASTER /////*/

    /* ///// QUESTION ANIMATION CLASSES ///// */
        .pushQs{
            margin-top: -3.5em !important;
        }
    /* ///// END QUESTION ANIMATION CLASSES ///// */
/*///// END INSIDE CURRENT WINDOW /////*/





/*///// LABEL LUCKY /////*/
    #luckyLabel{
        position: absolute;
        width: 70px;
        height: 117px;
        top: 0; left: 70px;
        z-index: 1;

        -webkit-transition: all .7s cubic-bezier(.95,.01,.45,1);
           -moz-transition: all .7s cubic-bezier(.95,.01,.45,1);
            -ms-transition: all .7s cubic-bezier(.95,.01,.45,1);
             -o-transition: all .7s cubic-bezier(.95,.01,.45,1);
                transition: all .7s cubic-bezier(.95,.01,.45,1);
    }
        #luckyLabel a{
            display: block;
        }
            #luckyLabel a img{
                width: 100%;
            }

    .hideLabel{
        top: -117px !important;
    }
/*///// END LABEL LUCKY /////*/

/*///// MENU STYLING /////*/
    /* WINDOW */
        #menuWindow{
            position: absolute;
            width: 100%;
            height: 100%;

            z-index: 1000000000;
        }

        /*// PRINCIPAL MENU TITLES //*/
            #titlesWrapper{
                position: absolute;
                width: 44.44%;
                height: 450px;
                margin: auto;
                top: 0; bottom: 0;
                left: 11.11%;
            }
                #titlesWrapper .fullMenuTitles{
                    position: relative;
                    width: 100%;
                    height: 25%;
                    left: 0px;
                    opacity: .60;
                    filter: alpha(opacity=60);

                    -webkit-transition: all .4s ease-in-out;
                       -moz-transition: all .4s ease-in-out;
                        -ms-transition: all .4s ease-in-out;
                         -o-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                }
                #titlesWrapper .fullMenuTitles:hover{
                    left: 15px;
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                #titlesWrapper .fullMenuTitles a{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #fff;
                }
                    #titlesWrapper .fullMenuTitles .innerMenuTitle{
                        position: absolute;
                        width: 75%;
                        height: 100%;
                        left: 25%;
                        overflow: hidden;
                    }
                        #titlesWrapper .fullMenuTitles .innerMenuTitle h2{
                            position: absolute;
                            width: 100%;
                            height: 3.3vw;
                            font-size: 3.3vw;
                            font-weight: 800;
                            line-height: 1em;
                            word-break: break-all;
                            margin: auto;
                            top: 0; bottom: 0;
                            left: -100%;

                            -webkit-transition: all 1s cubic-bezier(.53,0,0,1);
                               -moz-transition: all 1s cubic-bezier(.53,0,0,1);
                                -ms-transition: all 1s cubic-bezier(.53,0,0,1);
                                 -o-transition: all 1s cubic-bezier(.53,0,0,1);
                                    transition: all 1s cubic-bezier(.53,0,0,1);
                        }
                        .menuTitlesInserted{
                            left: 0% !important;
                        }
        /*// END PRINCIPAL MENU TITLES //*/

        /*// SOCIAL MEDIA TITLES //*/
            #rsWrapper{
                position: absolute;
                width: 11.11%;
                height: 300px;
                margin: auto;
                top: 0; bottom: 0;
                left: 66.66%;
            }

                #rsWrapper .fullRSTitles{
                    position: relative;
                    width: 100%;
                    height: 33.33%;
                    float: left;
                    left: 0px;

                    opacity: .60;
                    filter: alpha(opacity=60);

                    -webkit-transition: all .4s ease-in-out;
                       -moz-transition: all .4s ease-in-out;
                        -ms-transition: all .4s ease-in-out;
                         -o-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                }
                #rsWrapper .fullRSTitles:hover{
                    left: 10px;
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                    #rsWrapper .fullRSTitles a{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: #fff;
                        text-decoration: none;
                    }
                        #rsWrapper .fullRSTitles .innerRSTitles{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                            #rsWrapper .fullRSTitles .innerRSTitles h5{
                                position: absolute;
                                width: 100%;
                                height: 1.7vw;
                                margin: auto;
                                top: 0; bottom: 0;
                                left: -100%;
                                word-break: break-all;

                                text-align:left; 
                                font-size: 1.7vw;
                                line-height: 1em;
                                font-weight: 500;
                                -webkit-font-smoothing: antialiased;
                                   -moz-font-smoothing: antialiased;
                                    -ms-font-smoothing: antialiased;
                                     -o-font-smoothing: antialiased;
                                        font-smoothing: antialiased;

                                -webkit-transition: all 1s cubic-bezier(.53,0,0,1);
                                   -moz-transition: all 1s cubic-bezier(.53,0,0,1);
                                    -ms-transition: all 1s cubic-bezier(.53,0,0,1);
                                     -o-transition: all 1s cubic-bezier(.53,0,0,1);
                                        transition: all 1s cubic-bezier(.53,0,0,1);
                            }
        /*// END SOCIAL MEDIA TITLES //*/
    /* END WINDOW */



    /* BUTTON */
        #menuTrigger{
            position: absolute;
            width: 70px;
            height: 70px;
            top: 117px;
            left: 70px;

            z-index: 1000000000000;
            
        }
            #menuTrigger .innerTrigger{
                position: absolute;
                width: 40px;
                height: 25px;
                margin: auto;
                top: 0; bottom: 0; left: 0; right: 0;
                overflow: hidden;
                
            }
                #menuTrigger .innerTrigger #threeLinesWrap{
                    position: absolute;
                    width: 100%;
                    height: 25px;
                    cursor: pointer;
                }
                    #menuTrigger .innerTrigger #threeLinesWrap .menuLines{
                        position: absolute;
                        height: 4px;
                        margin: auto;
                        left: 0;
                        background-color: #0f1f27;
                        -webkit-transition: all .3s ease-in-out;
                           -moz-transition: all .3s ease-in-out;
                            -ms-transition: all .3s ease-in-out;
                             -o-transition: all .3s ease-in-out;
                                transition: all .3s ease-in-out;
                    }
                    #menuTrigger .innerTrigger #threeLinesWrap #line-1{
                        width: 100%;
                        top: 0;
                    }
                    #menuTrigger .innerTrigger #threeLinesWrap #line-2{
                        width: 60%;
                        top: 0; bottom: 0;
                    }
                    #menuTrigger .innerTrigger #threeLinesWrap #line-3{
                        width: 80%;
                        bottom: 0;
                    }
                    .fullThreeLine{
                        width: 100% !important;
                    }
                    .hideThreeLine{
                        left: -56px !important;
                    }

                #menuTrigger .innerTrigger #crossWrap{
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    margin: auto;
                    top: 0; bottom: 0; right: 0; left: 0;
                    cursor: pointer;
                    overflow: hidden;
                }
                    #menuTrigger .innerTrigger #crossWrap img{
                        position: absolute;
                        left: 0;

                        -webkit-transition: all .3s ease-in-out;
                           -moz-transition: all .3s ease-in-out;
                            -ms-transition: all .3s ease-in-out;
                             -o-transition: all .3s ease-in-out;
                                transition: all .3s ease-in-out;
                    }
                    #menuTrigger .innerTrigger #crossWrap .hiddenCross{
                        left: -25px !important;
                    }
    /* END BUTTON*/
/*///// END MENU STYLING /////*/







/*///// RESPONSIVE STYLING /////*/
    /*///// LAPTOP STYLING /////*/
        @media (min-width: 992px) and (max-width: 1199px){}
    /*///// END LAPTOP STYLING /////*/


    /*///// TABLET STYLING /////*/
        @media (min-width: 768px) and (max-width: 991px){
            #windowWrapper{
                min-height: 507px;
            }            
        }

        /*///// PORTRAIT SPECIAL TABLET STYLING /////*/
        @media (min-width: 500px) and (max-width: 991px) and (orientation:portrait){}
        /*///// END PORTRAIT SPECIAL TABLET STYLING /////*/

    /*///// END TABLET STYLING /////*/


    /*///// MOBILE STYLING /////*/
        @media (max-width: 767px){
            #windowWrapper{
                min-height: 320px;
            }
        }
    /*///// END MOBILE STYLING /////*/
/*///// END RESPONSIVE STYLING /////*/










/* ==========================================================================
   Helper classes
   ========================================================================== */



.crystalProtection{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.crystal{
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}

.notHere{
    display: none !important;
}

.bringToFront{
    z-index: 10000000 !important;
}

.op10{
    opacity: .1 !important;
    filter: alpha(opacity=10) !important;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
